<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>K8SCL</title>

  <!-- CDN 出错 -->
  <script src="/assets/js/xmind-embed-viewer.js"></script>
  <script type="text/javascript" src="/assets/js/markdown-it/8.4.2/markdown-it.js"></script>
  <script type="text/javascript" src="/assets/js/markdown-it-drawio-viewer.js"></script>
  <script type="text/javascript" src="/assets/js/jquery/3.4.0/jquery.js"></script>
</head>

<body class="theme-mode-light">
  <div id="app"></div>
</body>

</html>